.main-content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

.app-top {
    margin: 0 0 3em;
}

.app-calendar {
    margin: 0 auto;
    max-width: 900px;
}

.icon-primary {
    background-color: #ffffff !important;
    color: #ab47bc;
    box-shadow: none;
    display: block;
}

.icon-primary .material-icons {
    font-size: 18px;
    margin-left: 0.25em;
}

.icon-primary span {
    color: #212529;
    padding: 5px;
}